@import url('https://fonts.googleapis.com/css2?family=Montserrat&display=swap');

body{
    background-color: rgb(59, 59, 59);
    color: white;
    margin: 0;
}

body::-webkit-scrollbar {
    display: none;
  }
  

.instructions_main{
    font-family: 'Montserrat', sans-serif;
    font-size: 30px;
    padding: 20px 30px 60px;
}
