@import url("https://fonts.googleapis.com/css2?family=Pixelify+Sans&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Montserrat&display=swap");


body{
    background-color: rgb(59, 59, 59);
    color: white;
    margin: 0;
    @media screen and (max-width:700px) {
        text-align: center;
    }
}

body::-webkit-scrollbar {
    display: none;
  }

.instructions_main{
    font-family: 'Montserrat', sans-serif;
    font-size: 30px;
    padding: 20px 30px 60px;
    @media screen and (max-width:600px) {
        font-size: 22px;
    }
}

.button_container{
    text-align: center;
    button{
        font-family: 'Montserrat', sans-serif;
        background-color: red;
        color: white;
        padding: 10px;
        font-size: 20px;
        margin: 30px;
        border-radius: 10px;
        border: 0.5px solid rgb(78, 76, 76);
    }
}


