@import url('https://fonts.googleapis.com/css2?family=Montserrat&display=swap');

body{
    background-color: rgb(59, 59, 59);
    color: white;
    margin: 0;
}

body::-webkit-scrollbar {
    display: none;
  }
  

.instructions_main{
    font-family: 'Montserrat', sans-serif;
    font-size: 30px;
    padding: 20px 30px 60px;
    @media screen and (max-width:600px) and (min-width:351px){
        font-size: 20px;
    }
    @media screen and (max-width:350px) {
        font-size: 15px;
    }
}
