@import url('https://fonts.googleapis.com/css2?family=Pixelify+Sans&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat&display=swap');


*{
    font-family: 'Montserrat', sans-serif;
}

.button_container{
    text-align: center;
    button{
        font-family: 'Montserrat', sans-serif;
        background-color: rgb(220, 3, 3);
        padding: 10px;
        font-size: 20px;
        margin: 40px;
        border-radius: 10px;
        border: 0.5px solid rgb(78, 76, 76);
    }
    
}

.tip{
    padding-left: 50px;
    font-size: 25px;
    span{
        color: red;
    }
}

.secbutton{
    text-align: center;
.numbutton{
    
    font-family: 'Montserrat', sans-serif;
        background-color: rgb(168, 168, 168);
        padding: 10px;
        font-size: 20px;
        margin: 40px;
        border-radius: 10px;
        border: 0.5px solid rgb(78, 76, 76);
}}