@import url('https://fonts.googleapis.com/css2?family=Montserrat&display=swap');
/*
.movie_rating_card{
    display: flex;
    flex-wrap: wrap;
    background-color: rgb(34, 32, 32);
    width: 20vw;
    margin-left: 5vw;
    margin-bottom: 20px;
    border-radius: 12px;
    border: 0.5px solid rgb(65, 64, 64);
    height: 25vw;
    .image{
        img{
            height: 20vw;
            width: 20vw;
            border-top-left-radius: 15px;
            border-bottom-left-radius: 15px;
            @media screen and (max-width: 700px) {
                border-top-right-radius: 15px;
                border-bottom-left-radius: 0px;
                width:100%;
                height: 350px;
            }
        }
        @media screen and (max-width: 700px) {
            display: block;
            position: relative;

        }
    }/*
    .snum{
        
        color: white;
        font-family: 'Montserrat', sans-serif;
        font-size: 25px;
        padding-left: 230px;
        @media screen and (max-width:700px){
            padding-left: 0px;
            font-size: 20px;
        }
    }
    .movie_name{
        color: white;
        font-family: 'Montserrat', sans-serif;
        display: inline-block;
        padding:  30px;
        margin-top: 30px;
        font-size: 25px;
        @media screen and (max-width:700px) and (min-width:351px){
            font-size: 20px;
            margin-top: 0px;
            padding-bottom: 15px;
            padding-top: 20px;
        }
        @media screen and (max-width:350px) {
            font-size: 20px;
            padding-top: 5px;
            padding-bottom: 15px;;
        }
    }*/
   /* .rating{
        
        display: inline-block;
        position: absolute;
        padding-top: 27px;
        padding-bottom: 25px;
        padding-left: 2vw;
        margin-top: 500px;
        border-left: 0.5px solid rgb(65, 64, 64);
        @media screen and (max-width:700px){
            border: none;
            text-align: center;
            display: block;
            position:static;
            width: 99%;
            margin-top: 0px;
            padding-top: 0px;
        }
    }
    @media screen and (max-width:700px) {
            height: 480px;
            width: 340px;
            margin: auto;
            margin-bottom: 30px;
    }
    @media screen and (max-width:360px) {
          width: 300px;
    }
}
*/

.movie_rating_card{
    display: inline-block;
    width: 20vw;
    height: 28vw;
    margin-left: 4vw;
    border-radius: 20px;
   margin-top: 3vw;

    background-color: rgb(36, 36, 36);
    .img{
        width: 20vw;
        height: 20vw;
        border-top-right-radius: 20px;
        border-top-left-radius: 20px;
    }
    .header{
        font-size: 18px;
        padding: 1.4vw;
        border-bottom-color: rgba(0, 0, 0, 0);
        text-align: center;
        background-color: rgba(128, 128, 128, 0);
    }
    .rating{
        margin-top: -50px;
        text-align: center;
    }
}