@import url('https://fonts.googleapis.com/css2?family=Montserrat&display=swap');

.movie_rating_card{
    display: inline-block;
    width: 20vw;
    height: 28vw;
    margin-left: 4vw;
    border-radius: 20px;
   margin-top: 3vw;

    background-color:rgb(33, 33, 33);
    .img{
        width: 20vw;
        height: 20vw;
        border-top-right-radius: 20px;
        border-top-left-radius: 20px;
    }
    .header{
        font-size: 20px;
        padding: 1.4vw;
        border-bottom-color: rgba(0, 0, 0, 0);
        text-align: center;
        background-color: rgba(128, 128, 128, 0);
    }
    .rating{
        margin-top: -50px;
        text-align: center;
    }
}