@import url('https://fonts.googleapis.com/css2?family=Montserrat&display=swap');

.recommended{
    font-family: 'Montserrat', sans-serif;
    padding-top: 10px;
    padding-left: 40px;
.image{
    margin: 20px;
    display: inline-block;
    
    img{
        height: 400px;
        width: 350px;
        border-radius: 12px;
    }
}

.about{
    font-family: 'Montserrat', sans-serif;
    display: inline-block;
    position: absolute;
    padding-top: 70px;
    padding-left: 40px;
    .title{
        font-size: 40px;
    }
    .description{
        font-size: 20px;
        padding-top: 40px;
    }
}
}

.load{
    font-family: 'Montserrat', sans-serif;
    text-align: center;
    font-size: 40px;
    padding-top: 120px;
}